{% extends 'parent/base.html' %}
{% load static %}

{% block title %}main{% endblock %}
{% block header %}
<link rel="stylesheet"
      href="static/css/indext.css">{% endblock %}
{% block content %}

    <div id="header">
        <h1>اداره ثبت احوال جهرم</h1>
        <p>به سامانه مکشوفه های اداره ثبت احوال جهرم خوش آمدید.</p>
        <img id="sabt" src="" alt="ثبت احوال">

    </div>
    <div id="main">
        <h2>ویژگی های سایت</h2>
        <div class="all">
            <h3>ثبت مکشوفه ها</h3>
            <p>lorm</p>
        </div>
        <div class="all">
            <h3>جستجو مکشوفه ها </h3>
            <p>lorm</p>
        </div>
        <div class="all">
            <h3>گزارش گیری</h3>
            <p>lorm</p>
        </div>
    </div>

    

{% endblock %}